<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAM_Reminders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SAM_Reminders.Properties.Settings>
            <setting name="ReminderSlot1" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderSlot2" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderSlot3" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderSlot4" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderSlot5" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderDate1" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderDate2" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderDate3" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderDate4" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderDate5" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderTime1" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderTime2" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderTime3" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderTime4" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderTime5" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmSrc" serializeAs="String">
                <value />
            </setting>
        </SAM_Reminders.Properties.Settings>
    </userSettings>
</configuration>